<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Page Title -->
    <title>Smart Garage - for the smart driver</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
    <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css"
          th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css"
          th:href="@{/plugins/nouislider/nouislider.min.css}">
    <link rel="stylesheet" href="../static/plugins/sweetalert2/sweetalert2.min.css"
          th:href="@{/plugins/sweetalert2/sweetalert2.min.css}">
    <link rel="stylesheet" href="../static/plugins/toastr/toastr.min.css"
    th:href="@{/plugins/toastr/toastr.min.css}">
    <!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

<!-- Offcanval Overlay -->
<div class="offcanvas-overlay"></div>
<!-- Offcanval Overlay -->

<!-- Wrapper -->
<div class="wrapper">

    <!-- Header -->
    <header class="header white-bg fixed-top d-flex align-content-center flex-wrap" th:insert="fragments.html :: header">
</header>
    <!-- End Header -->

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Sidebar -->
        <nav class="sidebar" data-trigger="scrollbar" th:insert="fragments.html :: sidebar">
        </nav>
        <!-- End Sidebar -->

        <!-- Main Content -->

        <div class="main-content d-flex flex-column flex-md-row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card bg-transparent">
                            <!-- Contact Header -->
                            <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row bg-white mb-30">
                                <div class="contact-header-left media-body d-flex align-items-center mr-4">
                                    <!-- Add New Contact Btn -->
                                    <div class="add-new-contact mr-20">
                                        <a href="#" th:href="@{/customers/new-customer}" class="btn-circle">
                                            <img src="../static/img/svg/plus_white.svg"
                                                 th:src="@{/img/svg/plus_white.svg}" alt="" class="svg">
                                        </a>
                                    </div>
                                    <!-- End Add New Contact Btn -->

                                    <!-- Search Form -->
                                    <form action="#" th:action="@{/customers/search}" class="search-form">
                                        <div class="form-row">
                                            <div class="form-group mt-3 ml-10">
                                                <div class="theme-input-group style--two">
                                                    <input type="text" class="theme-input-style" style="width: 450px"
                                                           name="keyword" placeholder="Search Here">

                                                    <button type="submit"><img src="../static/img/svg/search-icon.svg"
                                                                               th:src="@{/img/svg/search-icon.svg}" alt=""
                                                                               class="svg"></button>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3 ml-20">
                                                <div class="custom-select style--two">
                                                    <select class="theme-input-style" style="height: 50px; width: 120px;"
                                                            id="exampleSelect1" name="type">
                                                        <option value="name">Name</option>
                                                        <option value="email">Email</option>
                                                        <option value="phoneNumber">Phone number</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Contact Header -->

                            <div class="table-responsive">
                                <!-- Invoice List Table -->
                                <table class="contact-list-table text-nowrap bg-white">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone number</th>
                                        <th>Actions</th>
<!--                                        <th>Active services</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="customer : ${customers}">
                                        <td th:text="'# ' + ${customer.getUserId()}"># 1</td>
                                        <td>
                                        <a href="#" th:href="@{/customer/{userId}(userId=${customer.getUserId()})}"  th:text="${customer.getFirstName()} + ' ' + ${customer.getLastName()}">Yordan Bradushev</a>
                                        </td>
                                        <td th:text="${customer.getEmail()}">ybradushev@mail.com</td>
                                        <td th:text="${customer.getPhoneNumber()}">0852525252</td>
<!--                                        <td th:text="${service.getVisits().size()} + ' times'">565 times</td>-->
                                        <td>
                                            <span>
                                            <button id="delete-customer" style="background-color: white"
                                                    th:onclick="deleteCustomer([[${customer.getUserId()}]])">
                                                <img src="../static/img/svg/c-close.svg"
                                                     th:src="@{/img/svg/c-close.svg}" alt=""
                                                     class="svg">
                                                <!--                                            </button>-->
                                                <script th:inline="javascript">
                                                    var operatingUser = [[${session.currentUser.getUsername()}]];
                                                </script>
                                            </button>
                                            </span>
                                            <span>
                                                <button id="edit-customer" style="background-color: white"
                                                        th:onclick="editCustomer([[${customer.getUserId()}]])">
                                                    <img src="../static/img/svg/c-edit.svg" th:src="@{/img/svg/c-edit.svg}" alt="" class="svg">
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- End Invoice List Table -->
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Contact Edit PopUp -->
                        <!-- End Contact Edit PopUp -->
                        <div id="contactEditModal" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form action="#">
                                            <div class="media flex-column flex-sm-row">

                                                <div class="contact-account-setting media-body">

                                                    <h4 class="mb-4">Account Settings</h4>

                                                    <div class="mb-4">
                                                        <label class="bold black mb-2" for="edit-email1">Email</label>
                                                        <input type="email" id="edit-email1" class="theme-input-style" required>
                                                    </div>

                                                    <div class="mb-4">
                                                        <label class="bold black mb-2"  for="edit-phone1">Phone</label>
                                                        <input type="text" id="edit-phone1" class="theme-input-style" required>
                                                        <label id="errorLabel" style="color: red"></label>
                                                    </div>

                                                    <div class="">
                                                        <button type="submit" class="btn">Save changes</button>
                                                        <a href="#" class="cancel font-14 bold" data-dismiss="modal">Cancel</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- End Modal Body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content -->
    </div>
    <!-- End Main Wrapper -->

    <!-- Footer -->
    <footer class="footer" th:insert="fragments.html :: footer">
    </footer>
    <!-- End Footer -->
</div>
<!-- End wrapper -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"
        th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

<!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
<script src="../static/plugins/nouislider/wNumb.js" th:src="@{/plugins/nouislider/wNumb.js}"></script>
<script src="../static/plugins/nouislider/nouislider.min.js" th:src="@{/plugins/nouislider/nouislider.min.js}"></script>
<script src="../static/plugins/nouislider/nouislider.js" th:src="@{/plugins/nouislider/nouislider.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"
        th:src="@{/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/custom-touchspin.js"
        th:src="@{/plugins/bootstrap-touchspin/custom-touchspin.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalert2.all.min.js"
        th:src="@{/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalerts.js" th:src="@{/plugins/sweetalert2/sweetalerts.js}">
</script>
<script src="../static/plugins/toastr/toastr.min.js" th:src="@{/plugins/toastr/toastr.min.js}"></script>
<script src="../static/plugins/toastr/toastr.js" th:src="@{/plugins/toastr/toastr.js}"></script>

<script>
    function editCustomer(customerId){
        $('#contactEditModal').modal('show');
        console.log(customerId);

        $.getJSON("http://localhost:8080/api/users/" + customerId, function (result) {
            $('#edit-email1').val(result.email);
            $('#edit-phone1').val(result.phoneNumber);
        });
        console.log($('#edit-email1').val());
        console.log($('#edit-phone1').val());

        var actionUrl = "http://localhost:8080/api/users/" + customerId;
        var userDTO = {
            "email" : $('#edit-email1').val(),
            "phoneNumber" : $('#edit-phone1').val()
        }
        console.log($('#edit-email1').val());
        console.log($('#edit-phone1').val());

        $('#contactEditModal').submit(function (e) {
            $.ajax({
                method: 'PUT',
                url : actionUrl,
                dataType : 'json',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': operatingUser
                },
                data: JSON.stringify(userDTO),
                success: function(data)
                {
                    console.log(userDTO);
                    if(data.success === 1){
                        $('#contactEditModal').modal('hide');
                    }
                    // alert("Service added successful");
                },
                error: function (request, status, error) {
                    // alert(request.responseText);
                    if(request.status === 409){
                        $("#errorLabel").text("User with email " + $("#email").val() + " already exists");
                    } else {
                        $("#errorLabel").text(request.responseText);
                    }
                }
            });
        });
    }
</script>
<script>
    function deleteCustomer(customerId) {
        Swal.fire({
            title: "Are you sure? ",
            text: "You won't be able to revert this!",
            type: "warning",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
            confirmButtonClass: "btn long",
            cancelButtonClass: "btn long bg-danger ml-1",
            buttonsStyling: !1,
            preConfirm: function (t) {
                return fetch("http://localhost:8080/api/users/" + customerId, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': operatingUser
                    }
                })
                    .then(function (t) {
                        if (!t.ok) throw (console.log(t), new Error(t.statusText));
                    })
                    .catch(function (t) {
                        Swal.showValidationMessage("Request failed:  " + t);
                    });
            },
            allowOutsideClick: function () {
                Swal.isLoading();
            },
        }).then(function (t) {
            t.value && Swal.fire({
                type: "success",
                title: "Deleted!",
                text: "This service has been deleted.",
                confirmButtonText: "OK",
                confirmButtonClass: "btn btn-success"
            }).then(function(){
                location.reload();
            })
        });
    }
</script>
<script type="text/javascript">
    $("#contactAddModal1").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = "http://localhost:8080/api/services/create";
        var serviceDTO = {
            "serviceName" : $("#serviceName").val(),
            "price" : $("#servicePrice").val()
        }

        $.ajax({
            method: 'POST',
            url : actionUrl,
            dataType : 'json',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': operatingUser
            },
            data: JSON.stringify(serviceDTO),
            success: function(data)
            {
                if(data.success === 1){
                    $('#contactAddModal').modal('hide');
                }
                alert("Service added successful");
            },
            error: function (request, status, error) {
                alert(request.responseText);
                if(request.status === 409){
                    $("#errorLabel").text("Service with name " + $("#serviceName").val() + " already exists");
                } else {
                    $("#errorLabel").text(request.responseText);
                }
            }
        }).complete(function (){
            $('#contactAddModal').modal('hide');
            location.reload();
        }).done(function(){
                $('#contactAddModal').modal('hide');
                location.reload();
        })
    });
</script>
<!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
</body>
</html>