<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Page Title -->
    <title>Smart Garage - for the smart driver</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
    <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css" th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- ======= END MAIN STYLES ======= -->

</head>

<body>
    <div class="mn-vh-100 d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <!-- Card -->
                    <div class="card justify-content-center auth-card">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-10">
                                <h4 class="mb-5 font-20">Reset Password</h4>

                                <form action="#" th:action="@{/reset-password}" th:object="${password}" method="post">
                                    <!-- Form Group -->
                                    <div class="form-group mb-20">
                                        <label for="n_password" class="mb-2 font-14 bold black">New Password</label>
                                        <input type="password" th:field="*{password}" id="n_password" class="theme-input-style" placeholder="password">
                                    </div>
                                    <!-- End Form Group -->

                                    <!-- Form Group -->
                                    <div class="form-group mb-30">
                                        <label for="c_password" class="mb-2 font-14 bold black">Confirm Password</label>
                                        <input type="password" th:field="*{confirmPassword}" id="c_password" class="theme-input-style" placeholder="password">
                                        <input type="hidden" name="token" id="token" th:value="${recentToken}"/>
                                        <label class="error" th:errors="*{confirmPassword}">Error placeholder</label>
                                    </div>
                                    <!-- End Form Group -->
                                    
                                    <button type="submit" value="submit" class="btn long mr-20">Reset</button>
                                </form>
                            </div>                                    
                        </div>
                    </div>
                    <!-- End Card -->
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer style--two">
        Dashmin © 2020 created by <a href="https://www.themelooks.com/"> ThemeLooks</a>
     </footer>
     <!-- End Footer -->

    <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js" th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
    <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
</body>

</html>